{% extends "home/base.html" %}

{% block content %}


<div class="d-flex justify-content-between">
  <div >
    <h3> Questions </h3>
  </div>
  <div>

    <a class="btn btn-success" href="{% url 'examination:question_add'  %}" role="button">ADD</a>

  </div>
</div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Eil. nr.</th>
          <th scope="col">Klausimas</th>
          <th scope="col">Atsakymas</th>

        </tr>
      </thead>
      {% for question in questions %}
      <tbody>
        <tr>

          <th scope="row"> {{ forloop.counter  }} </th>

          <td> <a class="link" href="{% url 'examination:person' 1  %}">{{ question.question }} </a> </td>
          <td>
            {% for answer in questions.answer_set.all %}
            <li>{ answer.answer }</li>
            {% endfor %}
            </td>


        </tr>
      </tbody>

      {% endfor %}
    </table>

{% endblock %}